* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-family: "Poppins", serif;
}

.logo {
    padding: 26px 40px 28px 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 104px;

}

nav a {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #252B42;
}

#active {
    color: #FA4A0C;
}

.Hero1 {
    background-image: url(./images/olunje\ first\ background\ img.png);
    background-size: cover;
}

.heading1 {
    text-align: center;
    max-width: 937px;
    margin: 0 auto;
    padding: 73px 0 146px;
    position: relative;
}

.heading1 h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #F6F6F6;
}

.heading1 p {
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    font-family: "Poppins", serif;
    color: #FFFFFF;
}

.heading1 h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    font-family: "Montserrat", serif;
    color: #FFFFFF;
    margin: 17px 0 54px;
}

.heading1 .active {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #FA4A0C;
    border-radius: 30px;
    padding: 16px 58px;
    border: none;
}

.heading1 button {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 16px 58px;
    background: none;
    border: 1px solid #FFFFFF;
    margin-left: 34px;
}

.firstimg img {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.border {
    border: 3px solid #E4E4E4;
    margin: 578px 278px 0;
}

.heading2 h3 {
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    color: #000000;
    text-align: center;
    padding-top: 72px;
}

.setup {
    padding: 0 254px 0;
}

.setup .sign-up {
    display: flex;
    align-items: center;
    height: 806px;
}

.setup .sign-up h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FA4A0C;
    margin-bottom: 10px;
}

.setup .sign-up h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #252B42;
    margin-bottom: 17px;
}

.setup .sign-up h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #737373;
}

.setup .sign-up>div {
    width: 561px;
    height: 280px;
}

.background-img2 {
    background-image: url(./images/olunje\ backgroundimg\ 2.png);
    background-size: cover;
    padding: 130px 230px;

}

.background-img2 .app-downlaod {
    text-align: center;
}

.background-img2 .app-downlaod h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: #FFFFFF;
}

.background-img2 .app-downlaod h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    margin: 10px 0 60px;

}

.app-downlaod button {
    padding: 18px 31px;
    background-color: #FA4A0C;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin-left: 16px;
}

.app-downlaod a button {
    padding: 16px 45px;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 115px;
}

footer h5 {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #5C5C5C;
}

footer div {
    display: flex;
    gap: 24px;
    align-items: center;
}

@media (max-width: 385px) {
    .logo {
        gap: 20px;
        padding: 10px 40px 28px 40px;
    }

    .logo img {
        width: 80px;
    }

    nav {
        gap: 25px;
    }

    .heading1 {
        padding: 17px 0 24px;
    }

    .heading1 p {
        font-weight: 600;
        font-size: 29px;
        line-height: 41px;
    }

    .heading1 h4 {
        font-weight: 100;
        font-size: 13px;
        line-height: 38px;
        margin-bottom: 25px;
    }

    .heading1 .active {
        font-weight: 100;
        font-size: 10px;
        line-height: 10px;
        padding: 10px 24px;
    }


    .heading1 button {
        font-weight: 200;
        font-size: 10px;
        line-height: 10px;
        padding: 10px 24px;
        margin-left: 29px;
    }


    .firstimg img {
        width: 224px;
        top: 199px;
    }

    .border {
        border: 1px solid #E4E4E4;
        margin: 213px 26px 0;
    }

    .heading2 h3 {
        font-weight: 200;
        font-size: 34px;
        line-height: 27px;
        padding-top: 35px;
    }

    .setup {
        padding: 0;
    }

    .setup .sign-up img {
        width: 264px;
    }

    .setup .sign-up h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 31px;
        margin-bottom: 6px;
    }

    .setup .sign-up h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 6px;
    }

    .setup .sign-up h4 {
        font-weight: 300;
        font-size: 15px;
        line-height: 21px;
    }

    .setup .sign-up {
        height: 375px;
    }

    .background-img2 {
        padding: 30px 100px;
    }

    .background-img2 .app-downlaod h2 {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
    }

    .background-img2 .app-downlaod h4 {
        font-weight: 200;
        font-size: 13px;
        line-height: 28px;
        margin: 6px 0 10px;
    }

    .app-downlaod button {
        padding: 5px 10px;
    }

    .app-downlaod a button {
        padding: 5px 10px;
    }
}

@media (min-width: 386px) and (max-width: 575px) {
    .logo {
        gap: 20px;
        padding: 10px 40px 28px 40px;
    }

    .logo img {
        width: 80px;
    }

    nav {
        gap: 25px;
    }

    .heading1 {
        padding: 17px 0 24px;
    }

    .heading1 p {
        font-weight: 600;
        font-size: 29px;
        line-height: 41px;
    }

    .heading1 h4 {
        font-weight: 100;
        font-size: 13px;
        line-height: 38px;
        margin-bottom: 25px;
    }

    .heading1 .active {
        font-weight: 100;
        font-size: 10px;
        line-height: 10px;
        padding: 10px 24px;
    }


    .heading1 button {
        font-weight: 200;
        font-size: 10px;
        line-height: 10px;
        padding: 10px 24px;
        margin-left: 29px;
    }


    .firstimg img {
        width: 224px;
        top: 199px;
    }

    .border {
        border: 1px solid #E4E4E4;
        margin: 213px 26px 0;
    }

    .heading2 h3 {
        font-weight: 200;
        font-size: 34px;
        line-height: 27px;
        padding-top: 35px;
    }

    .setup {
        padding: 0;
    }

    .setup .sign-up img {
        width: 264px;
    }

    .setup .sign-up h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 31px;
        margin-bottom: 6px;
    }

    .setup .sign-up h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 6px;
    }

    .setup .sign-up h4 {
        font-weight: 300;
        font-size: 15px;
        line-height: 21px;
    }

    .setup .sign-up {
        height: 375px;
    }

    .background-img2 {
        padding: 30px 100px;
    }

    .background-img2 .app-downlaod h2 {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
    }

    .background-img2 .app-downlaod h4 {
        font-weight: 200;
        font-size: 13px;
        line-height: 28px;
        margin: 6px 0 10px;
    }

    .app-downlaod button {
        padding: 5px 10px;
    }

    .app-downlaod a button {
        padding: 5px 10px;
    }

    footer #footer-logo {
        width: 80px;
    }

    footer img {
        width: 11px;
    }

    footer {
        padding: 10px 15px;
    }

    footer h5 {
        font-weight: 200;
        font-size: 6px;
        line-height: 10px;
    }
}




@media (min-width: 576px) and (max-width: 767px) {

    nav {
        gap: 30px;
    }

    .logo {
        gap: 10px;
        padding: 10px 40px 28px 40px;
    }

    .logo img {
        width: 80px;
    }

    .firstimg img {
        width: 324px;
        top: 465px;
    }

    .border {
        border: 1px solid #E4E4E4;
        margin: 183px 78px 0;
    }

    .setup .sign-up img {
        width: 264px;
    }

    .setup {
        padding: 0 20px;
    }

    .background-img2 .app-downlaod h2 {
        font-weight: 500;
        font-size: 21px;
        line-height: 34px;
    }

    .background-img2 .app-downlaod h4 {
        font-weight: 300;
        font-size: 15px;
        line-height: 30px;
        margin: 8px 0 24px;
    }

    .background-img2 {
        padding: 30px 100px;
    }

    .app-downlaod button {
        padding: 10px 25px;
        margin-left: 12px;
    }

    .app-downlaod a button {
        padding: 9px 28px
    }

    footer #footer-logo {
        width: 80px;
    }

    footer img {
        width: 11px;
    }

    footer {
        padding: 10px 15px;
    }

    footer h5 {
        font-weight: 200;
        font-size: 6px;
        line-height: 10px;
    }


}

@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        gap: 10px;
        padding: 10px 40px 28px 40px;
    }

    .logo img {
        width: 100px;

    }

    nav {
        gap: 70px;
    }

    .firstimg img {
        width: 324px;
        top: 465px;
    }

    .border {
        border: 2px solid #E4E4E4;
        margin: 284px 154px 0;
    }

    .setup .sign-up img {
        width: 264px;
    }

    .setup {
        padding: 0 30px 0;
    }

    .background-img2 .app-downlaod h2 {
        font-weight: 400;
        font-size: 30px;
        line-height: 49px;
    }

    .background-img2 .app-downlaod h4 {
        font-weight: 300;
        font-size: 24px;
        line-height: 34px;
        margin: 5px 0 26px;
    }

    .app-downlaod button {
        padding: 10px 25px;
        margin-left: 12px;
    }

    .app-downlaod a button {
        padding: 9px 28px
    }

    .background-img2 {
        padding: 108px 135px;
    }

    footer #footer-logo {
        width: 80px;
    }

    footer img {
        width: 11px;
    }

    footer {
        padding: 10px 15px;
    }

    footer h5 {
        font-weight: 200;
        font-size: 6px;
        line-height: 10px;
    }

}

@media (min-width: 992px) and (max-width: 1119px) {
    .logo {
        gap: 10px;
        padding: 10px 40px 28px 40px;
    }

    .logo img {
        width: 100px;

    }

    nav {
        gap: 70px;
    }

    .setup .sign-up img {
        width: 264px;
    }

    .setup {
        padding: 0 40px 0;
    }

    footer #footer-logo {
        width: 80px;
    }

    footer img {
        width: 11px;
    }

    footer {
        padding: 10px 15px;
    }

    footer h5 {
        font-weight: 200;
        font-size: 6px;
        line-height: 10px;
    }
}

@media (min-width: 1120px) and (max-width: 1399px) {
    .logo {
        gap: 10px;
        padding: 10px 40px 28px 40px;
    }

    .logo img {
        width: 100px;

    }

    nav {
        gap: 90px;
    }

    .setup .sign-up img {
        width: 264px;
    }

    footer #footer-logo {
        width: 85px;
    }

    footer img {
        width: 20px;
    }

    footer {
        padding: 15px 25px;
    }

    footer h5 {
        font-weight: 200;
        font-size: 10px;
        line-height: 20px;
    }
}